<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
	<script type="text/javascript" src="http://davidjbradshaw.com/iframe-resizer/js/iframeResizer.contentWindow.min.js"></script>
</head>
 <body>
	<h1> component - dashboard </h1>
	<button onclick="fireEvent();">logout</button> 
	<button onclick="addItem();">add item</button> 
	<script>
		const array = [];
		let counter = 0;
		
		const addItem = () => {
			const node = document.createElement("div");
			node.innerHTML = `dashboard item ${counter++}`;
			document.body.appendChild(node);
			array.push(node);
		};
		
		    
		function fireEvent() {
			window.parent.postMessage('router/logged-out', '*')
			addItem();
		};
				

	</script>
 </body>
</html>