<html>
 <body>
	<h1> component - header</h1>
	<h1 class="status"></h1>
	
    <script>
        window.parent.postMessage({
            'func': 'broadCast',
            'message': 'Message from login'
        }, "*");
		
		window.addEventListener("message", function (event) {
			const el = document.querySelector('.status');
			switch (event.data) {
				case 'logged':
				case 'logged-out':
					el.innerText = event.data;
				break;
				
			}			
		}, false);
    </script>

 </body>
</html>