<!DOCTYPE html>
<html>
 <body>
	<h1> component - header</h1>
	<h1 class="status"></h1>
	<div class="user-info"></div>
	
    <script>
		
		function logout() {
			window.parent.postMessage('router/logged-out', '*');
		}

		window.addEventListener("message", function (event) {
			const el = document.querySelector('.status');
			switch (event.data) {
				case 'router/logged':
					el.innerText = '';
					document.querySelector('.user-info').innerHTML = `<img src="${userLogoUrl}"/> <button onclick="logout()">logout</button>`;
				break;
				case 'router/logged-out':
					el.innerText = event.data;
					document.querySelector('.user-info').innerHTML = '';
				break;				
			}			
		}, false);

		var userLogoUrl = `https://cdn0.iconfinder.com/data/icons/fatcow/32x32/user_red.png`;
    </script>

 </body>
</html>