body {
	background-color: green;
	color: white;
}

div {
	display: inline-block;
	border-style: dashed;
}

iframe {
	display: inline-block;
	border-style: dotted;
	border-color: gray;
	padding: 0px;
	width:100%;
}

.component {
	border-style: dashed;
	width:100%;
	display: inline-block;
}